.landing_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.landing_page{
    font-size: 3rem;
   
}
.start_btn{
   width: fit-content;
    background-color: #f5f5f5;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-self: auto;
    text-decoration: none;
    color:purple;

}

.register_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 70%;

}
.register_form input{
    padding: 0.5rem;
    border-radius: 7px;
    margin-bottom: 0.5rem;
   
}
#register_submit{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    width: fit-content;
    color:purple;
    border: none;
    border-radius: 7px;
    padding: 0.4rem;
    cursor: pointer;
}
.dash_links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.dash_links a{
    text-decoration: none;
    color:purple;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: #ddd5d5;
    padding: 0.5rem;
    border-radius: 7px;
}
.title{
    font-size: 5rem;
    font-weight: bold;
    color:purple;
    margin-bottom: 1rem;
}