<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Gas Fee Chart</title>
    <!-- Include Highcharts library script -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div id="chartContainer"></div>
    <div class="dash_links">
        <div id="spinner" class="spinner" style="display: none;"></div>
        {% if project_name == 'Cryptopunks' %}
        <a id="chart-link-cryptopunks" href="{{ url_for('chart', project_name='Cryptopunks') }}" onclick="showSpinner('chart-link-cryptopunks')" >Find out best time to buy MutantApe</a> 
        {% elif project_name == 'MutantApe' %}
        <a id="chart-link-mutantape" href="{{ url_for('chart', project_name='MutantApe') }}" onclick="showSpinner('chart-link-mutantape')">Find out best time to buy Cryptopunks</a>
        {% endif %}
    </div>
    <script>
           function showSpinner(linkId) {
        const spinner = document.getElementById('spinner');
        const link = document.getElementById(linkId);

        spinner.style.display = 'inline-block';
        link.style.display = 'none';
    }
        // Load the JSON data from the Flask route
        const chartData = {{ chart_data_json|safe }};
        
        // Extract categories and data from the JSON data
        const categories = chartData.map(entry => entry.hour);
        const avgGasFeesUSD = chartData.map(entry => entry.average_gas_fee_usd);
        
        // Create the Highcharts chart
        Highcharts.chart('chartContainer', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Average Gas Fees Chart'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: 'Average Gas Fee (USD)'
                }
            },
            series: [{
                name: 'Average Gas Fee',
                data: avgGasFeesUSD
            }]
        });
    </script>
</body>
</html>
