<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="landing_container">
    <h1 class="title">Welcome {{ name }}</h1>
    <div class="dash_links">
    
        <a href="{{ url_for('chart') }}">Find out best time to buy</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    
</div>
</body>
</html>
