<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="landing_container">
        <h1 class="title">Welcome {{ name }}</h1>
        <div class="dash_links">
            <div id="spinner" class="spinner" style="display: none;"></div>
            <a id="chart-link-cryptopunks" href="{{ url_for('chart', project_name='Cryptopunks') }}" onclick="showSpinner()">Find out best time to buy Cryptopunks</a>
            <a id="chart-link-mutantape" href="{{ url_for('chart', project_name='MutantApe') }}" onclick="showSpinner()">Find out best time to buy MutantApe</a>
            <a id="logout-btn " href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

    <script>
       function showSpinner() {
        const spinner = document.getElementById('spinner');
        const cryptopunksLink = document.getElementById('chart-link-cryptopunks');
        const mutantapeLink = document.getElementById('chart-link-mutantape');

        cryptopunksLink.style.display = 'none';
        mutantapeLink.style.display = 'none';
        spinner.style.display = 'inline-block';
    }
    </script>
</body>
</html>
