<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="landing_container">
    <h1 class="title">Welcome {{ name }}</h1>
    <div class="dash_links">
        
    
        <a href="{{ url_for('chart', project_name='Cryptopunks') }}">Find out best time to buy Cryptopunks</a>
        <a href="{{ url_for('chart', project_name='MutantApe') }}">Find out best time to buy MutantApe</a>   
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <script>
        // Function to handle link click
        function handleLinkClick() {
            document.getElementById('chart_link').style.display = 'none';
            document.getElementById('loading_icon').style.display = 'block';
        }

        // Attach the function to the link's click event
        document.getElementById('chart-link').addEventListener('click', handleLinkClick);
    </script>
    
</div>
</body>
</html>
