<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="login_container">
        <div class="title">Please Login</div>
        <input placeholder="Email Address">
        <input placeholder="Password">
        <input type="checkbox"> Remember me </input>
        <button type="submit">Login</button>
    </div>
</body>
</html>