<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Home</title>
</head>
<body>
<div class="landing_container">
 <div class="landing_page">CryptoGas Insight Dashboard</div>
 <p>Explore gas fee analytics for Cryptopunks and MutantApe.</p>
 <a href="{{ url_for('register') }}" class="start_btn">Register</a>

</div>
</body>
</html>